{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>


<form action="{% url 'polls:refresh' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Refresh images"/>
</form>

<form action="{% url 'polls:cleardatabase' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Clear database"/>
</form>

{% if latest_image_list %}
<ul>
    {% for imvm, sivms in latest_image_list %}
    <li>
        <a href="{% url 'polls:detail' imvm.id %}">{{ imvm.name }}</a>

        {% include "polls/imageAndSubImages.html" %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No images are available.</p>
{% endif %}