{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>


<form action="{% url 'polls:refresh' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Refresh images"/>
</form>

<form action="{% url 'polls:cleardatabase' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Clear database"/>
</form>

{% if latest_image_list %}
    {% for imvm, sivms in latest_image_list %}
    <p>
        <a href="{% url 'polls:detail' imvm.id %}">
            {% include "polls/imageAndSubImages.html" %}
        </a>
    </p>
    {% endfor %}
{% else %}
<p>No images are available.</p>
{% endif %}